Q1. How do you comment code in Python? What are the different types of comments?

to make comments regarding any code so that people would understand very easily, we use the key that is '#',but sometimes we also use """   """ to make comments.
there are basically two types of comments :
    (i) sing line comments , and is created by using # , 
    examples: #i want to execute a piece of code but not possible because making comment
        
        we can also use short key to make comment that is ctrl + /
        
      (ii) multi line comments 
                             these kinds of comments are made using triple quotes that is """  """
        for example
        """i have learnt sevral good things from sudhanshu sir, i had no idea regarding code and all these
        but after taking classes from sudhanshu sir, i feel like i have got direction , 
        i am rewatching my classes because i did not about assignments because i did not watch the orientation classes"""

Q2. What are variables in Python? How do you declare and assign values to variables?

varables are any word or letter which can hold or store data in itself. it starts with any letter or sometimes starts with underscore but i doesn't starts with special charcters such as @,$,and %etc.
it sometimes holds data as integer , str , complex number , list, tuple, dictionary etc.

to assign any values or data to variables , we use operator that is equal to or =

Q3. How do you convert one data type to another in Python?

we can convert one data types into another by using inbuilt functions but however , we can not convert all the data types into another but sometimes possible,
so let's have look at some of the examples

a='100'

In [6]:
a='100'

In [7]:
type(a)

str

Now let's convert this to integer

In [8]:
a=int('100')

In [9]:
type(a)

int

we have been able to convert here , now let's see another example where we can't convert

In [11]:
b='sudhanshu'

In [12]:
type(b)

str

In [13]:
m=int(b)

ValueError: invalid literal for int() with base 10: 'sudhanshu'

here we couldn't convert , we have alot of these function such as bool(), float() etc

Q4. How do you write and execute a Python script from the command line?

to write and execute python code we us certain librabry or VS code, ineuron platform library, or pwskills library
where we write and execute code

In [15]:
#example
l=[1,2,3,4,5,6]
l1=[]
for i in l :
    print(i)
    l1.append(i**2)
l1

1
2
3
4
5
6

[1, 4, 9, 16, 25, 36]

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [16]:
#Ans
my_list=[1,2,3,4,5]

In [18]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

#Ans:
let's first talk about complex number in mathematics then will go on how it is diffrent from complex number in python.
In mathematics , we write complex number such as 4+5i,6+8i,8+9ietc. but the python doesn't understand coplex number when there is 'i' in the imaganiray part. it only understands when there is j such as 4+6j, 6+8j , 7+88j etc

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Ans : the correct way to decare a variable named age is as follows:-

In [19]:
age=25

In [20]:
age

25

8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

ANS :- let's decalre a variable named price

In [21]:
price=9.99

In [22]:
type(price)

float

so data type is floating

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [23]:
#ANS
name='md nasim akram'

In [24]:
print(name)

md nasim akram

10. Given the string "Hello, World!", extract the substring "World".

In [25]:
#ANS
string="Hellow, world!"

In [26]:
substring=string[8:13]

In [27]:
substring

'world'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [ ]:
#ANS
is_student=int